body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  margin: 0 5em;
}

.option {
  appearance: button;
  width: 25vw;
  margin: 0 5em;
  border: none;
  border-radius: 2.5%;
  background-color: rgb(55, 47, 171);
  color: #fff;
  padding: 2em;
}

.correct-answer {
  visibility: hidden;
}
